{% extends 'dummy.html' %}


{% block title %}
    <title>Forget password</title>
{% endblock %}

{% block body_block %}

    <center>
        <h1> Forget_Password</h1>
        
        <form method="POST">

            {% csrf_token %}
            
            <label for="un">User Name</label>
            <input type="text" name="un" id="un"><br><br>

            <label for="pw">New password</label>
            <input type="password" name="pw" id="pw"><br><br>

            <label for="rpw">Re-enter password</label>
            <input type="password" name="rpw" id="rpw"><br><br>

            <input type="submit" value="submit_details">

        </form>
    </center>
{% endblock %}